---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
html {
    font-size: 11px; // originally 16px
    @include breakpoint($medium) {
        font-size: 13px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 15px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 17px; // originally 22px
    }
}
